/* Extra small devices (phones, less than 768px) */

body {
    color: #454545;
}

#background_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -30;
}

#background {
    background-image: url('../images/background.jpg');
    background-size: cover;
    
    margin: -6px;
    
    width: calc(100vw + 12px);
    height: calc(100vh + 12px);
    
    filter: url(images/blur.svg#blur);
	-webkit-filter: blur(2px);
	filter: blur(2px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
        
    z-index: -20;
}

#weather_canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}

div {
/*    font-family: 'Raleway', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
}

#topbox {
    height: 0px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    box-shadow: 0px 50px 250px 0px rgba(0, 0, 0, 0.5);
}

/* Header section */
.day {
    height: 170px;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 20px 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    
}

.day img {
    max-width: 100%;
}

.dayOfWeek {
    display: block;
    margin-bottom: -20px;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.high, .low {
    font-size: 5em; /* 5em */
    font-family: 'Montserrat', sans-serif;
}

.tempLabel {
    display: block;
    margin-top: -15px;
    font-size: 2em;
    text-transform: uppercase;
}

/* Features (coloured background) */
#chat {
    position: fixed;
    top: 170px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    z-index: 1;
    padding-top: 20px;
    margin-bottom: 60px;
    overflow: scroll;
}
#chat .container {
    
}

#chat::-webkit-scrollbar { 
    display: none; 
}

.feature .speech:first-child {
    margin-top: 20px;
}

.feature .speech:last-child {
    margin-bottom: 20px;
}

.photo .speech:first-child {
    margin-top: 200px;
}

/* Speech */
.speech {
    display: block;
    clear: both;
    max-width: 80%;
    margin: 5px 0;
    padding: 7px 14px;
    border-radius: 5px;
    color: #333;
    font-size: 1.2em;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
}
/* Speech to Weather Lad */
.to {
    float: right;
    
    background: #44bb44;
    color: #eee;
}

/* Speech from Weather Lad */
.from {
    float: left;
    background: #eee;
}

/* Text input at bottom of page */
#input {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    height: 56px;
    width: 100wv!important;
    padding: 0 10px;
}
/* Say something */
#saySomething {
    /*margin-right: 46px;*/
    height: 36px;
}

.say {
    float: none;
    max-width: none;
    background-color: #ffffff;
}

#saySomething input {
    background-color: #ffffff;
    border-width: 0;
    border: none;
    width: 100%;
    box-shadow: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    padding: 5px;
    border-radius: 4px;
    height: 36px;
}
#saySomething input:focus {
    border: 1px solid rgba(0, 100, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 100, 0, 0.25);
}

#voicerecognition {
    width: 36px;
    float: right;
    margin: 10px 0;
    height: 36px;
    display: none;
}

#voicerecognition input {
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent url('../images/mic_inactive.svg') no-repeat center center;
    background-size: 20px 20px;
}
#voicerecognition input:hover {
    background-image: url('../images/mic_active.svg');
}

input:focus {
    outline: none;
}

#endOfMessages {
    display: none;
}

footer {
    min-height: 80px;
    padding: 30px;
}

/* Lightbox styles */
#popupBlack {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    opacity: .60;
}
.popup {
    display: none;
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    padding: 16px;
    border-radius: 10px;
    background-color: #77DD77;
    z-index: 1002;
    overflow: auto;
    text-align: center;
    font-size: 5vw;
}
.popup img {
    display: block;
    max-width: 20vw;
    max-height: 20vw;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#popupLoading {
    display: block;
}